.main-store {
  padding: 9.6rem 0;
  background-color: #f6efea;
}

.main-store-heading {
  font-size: 2.8rem;
  font-weight: 500;
  color: #d66502;

  text-align: center;
  margin-bottom: 1.8rem;
}
.grid-store {
  display: grid;
  gap: 3rem;
}
.main-store-images {
  margin-bottom: 7.2rem;
  background-color: #fff;
  height: 500px;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.4s;
}
.main-store-images:hover {
  transform: translateY(-2rem);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}
.gallery-img {
  width: 100%;
  height: 40%;
  margin-bottom: 3rem;
}
.gallery-img-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
  text-align: center;
}
.gallery-img-attributes {
  list-style: square;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-left: 2.4rem;
}
.attributes {
  font-size: 1.8rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-button {
  background-color: #fc8823;
  color: #fff;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;

  left: 40%;
}

.more-images-link:visited,
.more-images-link:link {
  color: #d66502;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}
.more-images-link:hover,
.more-images-link:active {
  color: blue;
}
