* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  /*use tab to see effect.used for navigation by only keyboard. */
  outline: none;
  /* outline: 4px dotted #d66502;
  outline-offset: 8px; */
  box-shadow: 0 0 0 8px #d0640690;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /*All elements who are overflowing viewport in x direction get hide.(navigation box of menu)*/
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  overflow-x: hidden;
  /*All elements who are overflowing viewport in x direction get hide.(navigation box of menu)*/
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdecde;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative; /*For navigation box menu(main-nav)*/
}
header {
}
.logo {
  height: 5.4rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:visited,
.main-nav-link:link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3sec;
}
.main-nav-link:active,
.main-nav-link:hover {
  color: #d66502;
}
.main-nav-link.special-link:link,
.main-nav-link.special-link:visited {
  padding: 1.2rem 3.2rem;
  border-radius: 10px;
  background-color: #d66502;
  color: #fff;
}
.main-nav-link.special-link:active,
.main-nav-link.special-link:hover {
  background-color: #f37202;
}

.btn-mobile-menu {
  background: none;
  display: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 2rem;
  border: 3px solid #894103;
}
.btn-names {
  height: 4rem;
  width: 4rem;
}

.btn-names[name="close-outline"] {
  display: none;
}
.section-hero {
  background-color: #fdecde;
  padding: 4.8rem 0 9.6rem 0;
}

/*Media queries*/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  gap: 9.6rem;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-discription {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%; /*fill parent element completely(div class-hero-img-box)(it is one of the column in grid)*/

  border-radius: 33rem;
  border: 5px solid #da8336;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 2rem;
  transition: all 1s;
}
.highlighted:link,
.highlighted:visited {
  background-color: #e67e22;
  color: #fff;
}
.highlighted:active,
.highlighted:hover {
  background-color: #d66502;
  box-shadow: 0 0 20px 3px rgb(246, 133, 88);
}
.normal:link,
.normal:visited {
  background-color: #fff;
  color: #555;
}
.normal:active,
.normal:hover {
  background-color: #ededed;
  color: #555;
  box-shadow: inset 0 0 0 3px #555;
  box-shadow: 0 0 20px 3px rgba(255, 115, 1);
}
.total-users {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.8rem;
}
.total-users-faces-img {
  display: flex;
}
.total-users-faces-img img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdecde;
}
.total-users-faces-img img:last-child {
  margin-right: 0;
}
.total-users-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.total-users-text span {
  color: #d66502;
  font-weight: bolder;
}

.container {
  /*To make every section structured and centered*/
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4cols {
  grid-template-columns: repeat(4, 1fr);
}
